@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
body {
    font-family: 'Source Sans Pro';
    background-size: cover;
}

.game {
    background-color: transparent;
    width: 402px;
    height: 402px;
    margin: 50px auto;
}

.game-field {
    width: 150px;
    height: 150px;
    display: block;
    float: left;
    color: #eaeaea;
    font-size: 6.3em;
    padding: 1px 27px;
}

.win {
    color: #e4572e;
    transition: 200ms;
}

.modal-content {
    background-color: #eaeaea;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 1.3em;
}

.modal-header {
    background-image: url(tictactoe.jpg);
    width: 100%;
    height: 100%;
    color: darkgrey;
}
.modal-header button {
    color: black;
}
.modal-header button:hover {
    color: black;
}
.modal-header h4 {
    font-size: 3.4em;
    font-family: 'Nosifer', cursive;
    color: slategrey;
    text-align: center;
}

.modal-body {
    padding: 30px;
    margin: 10px 0;
    text-align: center;
}

.button {
    background-color: silver;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}
td {
    width: 33.333%;
    border: 6px solid rgba(206, 69, 15, 0.918);
}

td:first-of-type {
    border-left-color: transparent;
    border-top-color: transparent;
}
td:nth-of-type(2) {
    border-top-color: transparent;
}
td:nth-of-type(3) {
    border-right-color: transparent;
    border-top-color: transparent;
}
tr:nth-of-type(3) td {
    border-bottom-color: transparent;
}

h3 {
    color: black;
}

p {
    color: black;
}
